/target/classes/tanks/battle/models/tank/battle/Application.class
/target/classes/tanks/battle/models/battle/Battle.class
/target/classes/tanks/battle/models/tank/battle/controller/BattleController.class
/target/classes/static/battleField.css
/target/classes/static/battleField.js
/target/classes/tanks/battle/models/tank/utils/FACING.class
/target/classes/tanks/battle/models/tank/battle/controller/GetTankProperties.class
/target/classes/tanks/battle/models/tank/battle/controller/GetTanks.class
/target/test-classes/tanks/battle/models/tank/battle/GreetingControllerTests.class
/target/classes/tanks/battle/models/tank/battle/models/map/Map$Pair.class
/target/classes/tanks/battle/models/tank/battle/models/map/Map.class
/target/classes/tanks/battle/models/tank/battle/controller/MapController.class
/target/classes/tanks/battle/models/tank/utils/MOVE.class
/target/classes/tanks/battle/models/tank/utils/Position.class
/target/classes/tanks/battle/models/tank/battle/models/map/Row.class
/target/classes/tanks/battle/models/tank/Tank$1.class
/target/classes/tanks/battle/models/tank/Tank$DIRECTION.class
/target/classes/tanks/battle/models/tank/Tank.class
/target/classes/tanks/battle/models/tank/TankBehavior.class
/target/classes/tanks/battle/models/tank/TankBuilder.class
/target/classes/META-INF/tanks-battle-game-server.kotlin_module
/target/test-classes/META-INF/tanks-battle-game-server.kotlin_module
